.dura-box {
    background-color: white;
}

.dura-box-black {
    background-color: black;
}

.dura-chat-form-textarea {
    width: 500px;
    height: 100px;
    text-align: left;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
    resize: none;
    outline: none;
    font-size: 15px;
    padding: 10px;
}

.dura-chat-form-button {
    margin: 10px;
    width: 300px;
    font-size: 20px;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
    outline: none;
}

.dura-chat-plane {
    display: flex;
    width: 100%;
}

.dura-chat-icon {
    width: 65px;
}

.dura-chat-icon-img {
    width: 65px;
}

.dura-chat-icon-name {
    text-align: center;
    word-wrap: break-word;
    width: 100%;
}

.dura-chat-message {
    margin-left: 40px;
}

#dura-chat {
    white-space: pre;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#dura-chat-form {
    text-align: center;
    background-color: white;
    width: 100%;
    height: 180px;
}

#dura-chat-main {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: black;
    color: white;
    font-size: 20px;
}

body {
    width: 100%;
    height: 100%;
}

/* リストのデザイン */
ol {
    list-style: none;
}

li {
    padding: 5px;
}
